.git
.gitignore
venv
.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
benchmark_results
benchmark_results/**
lfw
lfw/**
lfw_full
lfw_full/**
lfw_one_face
lfw_one_face/**
models
models/**
server/biometric.rocks
server/biometric.rocks/**
server/test_benchmark.rocks
server/test_benchmark.rocks/**
*.rocks
*.rocks/**
client/.shared_context
client/.shared_context/**
**/.shared_context
**/.shared_context/**
*.npy
*.npz
*.onnx
*.bin
*.b64
